/week2/nbproject/private/
/week2/build/
/week4/nbproject/private/
/week4/build/
/week4/target/
/week3/nbproject/private/
/week3/build/
/week5/nbproject/private/
/week5/build/
/week5/dist/
/week6/nbproject/private/
/week6/build/
/week6/target/